*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after{
display:block;
clear: both;
content: '';
}

.window{
  width: 320px;
  height: 200px;
  margin: 100px auto;
  overflow: hidden;
 
}

.window .images{
position: relative;
opacity: 0.5;

}

.window .images img{
    position: absolute;
   transition: all 0.5s;
    width: 100%;
}

.window .images img.current{
top: 0;
transform: translateX(0);
z-index: 1;
}

.window .images img.enter{
transform: translateX(100%);
}

.window .images img.leave{
transform: translateX(-100%);
}

.bar{
width: 80px;
height: 11px;
padding: 0 19px;
margin-top: 189px;
margin-left: 118px;

}

.bar .small{
width: 10px;
height: 100%;
display: inline-block;
vertical-align: top;
background-color: rgb(218, 218, 218);
border-radius: 50%;
}

.bar .small.active{
background-color: black;
}



